.transition-container {
    overflow: hidden;
}

.transition-item {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 3s forwards;
}

.transition-item.delay-1 {
    animation-delay: 0.5s;
}

.transition-item.delay-2 {
    animation-delay: 1s;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* global styles or in a specific CSS file */

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.main-grid-4 {
    filter: none !important;
    pointer-events: auto !important;
}

/* Ensure main-grid-4 class is applied to the specific part of the MainContent you want unblurred */